name: Publicar no NPM

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    # ESTA PARTE É A CHAVE DO TRUSTED PUBLISHING
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"

      - run: npm ci
      - run: npm run build

      # O comando --provenance é o que ativa a autenticação sem senha
      - run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          # (O NPM usa o token OIDC automaticamente, mas deixamos a env caso precise de fallback,
          # porém o --provenance manda usar a confiança do GitHub)
